/* General Styles --------------------- */
* {
  box-sizing:border-box;
  outline: 2px solid red;
  margin: 10px;
}
html {
  font-size: 1.25em;
}

body{
  margin: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: black;
  line-height: 1.5;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: "Abolition Regular", Impact, black, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.1;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-style: italic;
}

img {
  width: 50%; 
}

ul.nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  display: flex;
  flex: 0 1 auto;
  list-style-type: none;
} 


/*list item checkmarks*/
ul {
  list-style: none;
}

.pros li:before {
  content: '✓';
  color: green;
}

.cons li:before {
  content: '❌'
}


/*Utilities*/
div.kids {
  display: flex;
  justify-content: center;
  padding:50px 100px;
 
}
div.mom {
  display: flex;
  justify-content: center;
  padding:50px 100px;
  float:right;
}

.about {
  display: flex;
  align-items: center;
}

.eastover {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-content: center;
}


/* Main Styles --------------------- */
header {
  padding: 10vh 1rem;
  margin: -1rem -1rem 1rem;
  background: url(images/big_rock.JPG) center / cover no-repeat #6e88be;
  background-blend-mode: multiply;
  color: white;
}

header, footer {
  text-align: center;
}

footer{
  line-height: 10px;
}

.title {
  letter-spacing: 5px;
}

main {
  hyphens: auto;
  max-width: 1000px;
  margin: 0 auto;
}

section {
  display: flex;
  height:min-content;
 
  justify-content:space-around;

}


/*.kids div {
  display:grid;
  justify-content:stretch;

}

.mom div {
  display:grid;
  justify-content:space-around;*/



/*JS function*/
label, input, textarea {
  display: block;
}




