body{
    margin: 1rem;
    font-family: 'Lora', serif;
    color: black;
    line-height: 1.5;
  }
  a {
    color: #cc4e13;
    text-decoration: none;
  }
  h1, h2 {
    font-family: "Lora", Impact, black, serif;
    font-weight: normal;
    line-height: 1.1;
  }
  h1 {
    font-size: 4rem;
    text-shadow: 1px 2px 3px rgba(0, 10, 30, .5);
  }
  h1::after {
    content: /2193;
    display: block;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  img {
    width: 100%; /* responsive images */
  }
  
  
  /* Main Styles --------------------- */
  header {
    padding: 10vh 1rem;
    margin: -1rem -1rem 1rem;
    background: center / cover no-repeat firebrick;
    background-blend-mode: multiply;
    color: rgb(5, 0, 0);
  }
  header, footer {
    text-align: center;
  }
  .title {
    letter-spacing: 1px;
  }
  
  
  main {
    hyphens: auto;
    max-width: 1000px;
    margin: 0 auto;
  }
  
