/* General Styles --------------------- */
/** {
  box-sizing:border-box;
  outline: 2px solid red;
  margin: 10px;
}*/
html {
  font-size: 1.25em;
  background-color: rgba(120, 192, 224, .5)
}

body{
  margin: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: black;
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

section {
  border-bottom: dotted 5px #000;
  padding-bottom: 40px;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: "Abolition Regular", Impact, black, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  margin: 0;
}

h4 {
  font-style: italic;
  margin: 0;
}

h5 {
  margin: 0;
}

.park-main img {
  min-width: 50%; 
  max-width: 50%;
}

ul.nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > ul > li > a:hover {
  color: black;
  background-color: rgba(120, 192, 224)
  
}

li {
  display: flex;
  flex: 0 1 auto;
  list-style-type: none;
} 

.profile h2 {
  text-align: center;
}


/*list item checkmarks*/
ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  margin-bottom: 25px;
}

.pros:before {
  content: '✓';
  color: green;
  margin-right: 5px;
}

.cons:before {
  content: '❌';
  margin-right: 2px;
}


/*Utilities*/


/*.about-container {
  background-color: bisque;
}*/

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-photo {
  width: inherit;
  border: 2px solid #000;
  border-radius: 50%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.park-container {
  /*background-color: #78c0e0*/

}

.park-content {
  margin-top: 40px;
  gap:25px;
}

.park-content p {
 padding-top: 7%;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 850px) {
  .park-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-nav {
    display: none;
  }
  .hamburger {
    display:block;
  }

  /*.park-main {
    flex-direction: column;
    align-items: center;
  }*/

  .profile {
    flex-direction: column;
    align-items: center;
  }
}

.park-column {
  flex-direction: column;
  min-width: 250px;
}





.list {
  display: flex;
  align-content: center;
}


/* Main Styles --------------------- */
header {
  padding: 40px;
  padding-bottom: 0;
  margin: -1rem -1rem 1rem;
  background: url(images/big_rock.JPG) center / cover no-repeat #6e88be;
  background-blend-mode: multiply;
  color: white;
  box-shadow: 10px 10px 5px 5px #000;
}

header, footer {
  text-align: center;
}

footer{
  line-height: 10px;
}

footer a {
  color: #000;
}

.title {
  letter-spacing: 5px;
}

main {
  hyphens: auto;
  
  margin: 0 auto;
}

section {
  display: flex;
  height:min-content;
 
  justify-content:space-around;

}

.profile {
  width: 300px;
}

/*.kids div {
  display:grid;
  justify-content:stretch;

}

.mom div {
  display:grid;
  justify-content:space-around;*/



/*JS function*/
label, input, textarea {
  display: block;
}




